.snowflake-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.snowflake-nav .logo-container {
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    /* background-color: blueviolet; */
}

.snowflake-nav>.logo-container>h2 {
    padding-left: 1rem;
}

nav>div>img {
    height: 3rem;
}

.snowflake-nav .nav-links ul {
    display: flex;
    margin-right: 2rem;
}

.snowflake-nav .nav-links ul li {
    margin: 0 2rem;
}

.snowflake-nav .nav-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.snowflake-nav .nav-links ul li i {

    font-size: 2rem;
}