@import url("/pages/components/utility/fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Merriweather Sans', sans-serif; */


}

img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    /* can use `cover` instead of `contain` */
    object-position: top center;
}

ol,
ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

.img-res,
.img-res-ht {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-res-wd {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.o-hide {
    overflow: hidden;
}