<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/svg/snowflake-white.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0fde817728.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/docs.css">
    <link rel="stylesheet" href="/pages/components/utility/utility.css">
    <link rel="stylesheet" href="/pages/components/badge/badge.css">
    <title>SnowflakeUI | Badge</title>
</head>

<body>
    <nav class="snowflake-nav">
        <div class="logo-container" href="/">
            <img src="/assets/svg/snowflake.svg" alt="logo" loading="eager">
            <h2>Snowflake UI</h2>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="/" id="docs"><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="https://github.com/znjs/Snowflake-UI" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/jayasrikark" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jayasrikark" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </li>

            </ul>
        </div>

    </nav>
    <div class="component-doc">
        <div class="side-nav">
            <h2>Getting Started</h2>
            <ul>
                <li><a href="/pages/docs.html">Introduction</a></li>
            </ul>
            <hr>
            <h2>Components</h2>
            <ul>
                <li><a href="/pages/components/alert/alert.html"><i class="fas fa-exclamation-triangle"></i>Alert</a>
                </li>
                <li><a href="/pages/components/avatar/avatar.html"><i class="fas fa-user-tie"></i>Avatar</a></li>
                <li><a href="/pages/components/badge/badge.html"><i class="fas fa-certificate"></i>Badge</a></li>
                <li><a href="/pages/components/button/button.html"><i class="fas fa-mouse"></i>Button</a></li>
                <li><a href="/pages/components/card/card.html"><i class="far fa-address-card"></i>Card</a></li>
                <li><a href="/pages/components/grid/grid.html"><i class="fas fa-border-none"></i>Grid</a></li>
                <li><a href="/pages/components/image/image.html"><i class="fas fa-images"></i>Image</a></li>
                <li><a href="/pages/components/input/input.html"><i class="fas fa-keyboard"></i>Input</a></li>
                <li><a href="/pages/components/list/list.html"><i class="fas fa-list"></i>List</a></li>
                <li><a href="/pages/components/modal/modal.html"><i class="fas fa-vr-cardboard"></i>Modal</a></li>
                <li><a href="/pages/components/rating/rating.html"><i class="fas fa-star"></i>Rating</a></li>
                <li><a href="/pages/components/toast/toast.html"><i class="fas fa-flag"></i>Toast</a></li>
            </ul>
        </div>
        <div class="badge-contents">
            <h2 class="mg-b-075">Badge</h2>
            <hr>
            <p>Badge Component Symbol to draw attention to another interface element or to display a notification. It
                enhances the component to which it is attached with additional information, disclosed to the user upon
                interacting with it.</p>
            <h3 class="mg-b-1">Image Badge</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-row fx-jc-se fx-ai-center brd-sm">
                    <div class="p-rel">
                        <img src="/assets/images/profile2.jpg" alt="avatar" class="h-4 w-4 brd-round">
                        <span class="p-abs brd-round badge rgt bg-clr-green-600"></span>
                    </div>
                    <div class="p-rel">
                        <img src="/assets/images/profile2.jpg" alt="avatar" class="h-4 w-4 brd-round">
                        <span class="p-abs brd-round badge rgt bg-clr-red-600"></span>
                    </div>
                    <div class="p-rel">
                        <img src="/assets/images/profile2.jpg" alt="avatar" class="h-4 w-4 brd-round">
                        <span class="p-abs brd-round badge rgt bg-clr-gray-400"></span>
                    </div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=imageBadge.html">
            </script>
            <h3 class="mg-b-1">Letter Badge</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-row fx-jc-se fx-ai-center brd-sm">
                    <div class="p-rel">
                        <span class="brd-round bg-clr-blue-500 h-4 w-4 fx-row fx-jc-center fx-ai-center f-105">S</span>
                        <span class="p-abs brd-round badge rgt bg-clr-green-600"></span>
                    </div>
                    <div class="p-rel">
                        <span class="brd-round bg-clr-blue-500 h-4 w-4 fx-row fx-jc-center fx-ai-center f-105">S</span>
                        <span class="p-abs brd-round badge rgt bg-clr-red-600"></span>
                    </div>
                    <div class="p-rel">
                        <span class="brd-round bg-clr-blue-500 h-4 w-4 fx-row fx-jc-center fx-ai-center f-105">S</span>
                        <span class="p-abs brd-round badge rgt bg-clr-gray-400"></span>
                    </div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=charBadge.html">
            </script>

            <h3 class="mg-b-1">Notification Badge</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-row fx-jc-se fx-ai-center brd-sm">
                    <div class="p-rel">
                        <span class="brd-round bg-clr-yellow-500 h-3 w-3 fx-row fx-jc-center fx-ai-center f-105"><i
                                class="fas fa-shopping-cart"></i></span>
                        <span
                            class="p-abs brd-round notification rgt top bg-clr-green-600 f-075 clr-gray-50 fx fx-jc-center fx-ai-center">2</span>
                    </div>
                    <div class="p-rel">
                        <span class="brd-round bg-clr-yellow-500 h-3 w-3 fx-row fx-jc-center fx-ai-center f-105"><i
                                class="fas fa-bell"></i></span>
                        <span
                            class="p-abs brd-round notification rgt top bg-clr-gray-100 f-075 fx fx-jc-center fx-ai-center">7</span>
                    </div>
                    <div class="p-rel">
                        <span class="brd-round bg-clr-red-500 h-3 w-3 fx-row fx-jc-center fx-ai-center f-105"><i
                                class="fas fa-flag"></i></span>
                        <span
                            class="p-abs brd-round notification rgt top bg-clr-red-800 clr-gray-50 f-075 fx fx-jc-center fx-ai-center">7</span>
                    </div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=notificationBadge.html">
            </script>

        </div>
    </div>
</body>

</html>