@import url("/css/reset.css");
@import url("/css/nav.css");

:root {
    --clr-white: #ffffff;
    --clr-snowblue: #1e5799;
    --clr-offblue: #bdcfdf;
    --clr-black: #000000;
    --clr-gray: #808080;
    --clr-lightgray: #d3d3d3;
}

body {
    background-color: white;

}

nav {
    background: linear-gradient(var(--clr-snowblue) 0%, var(--clr-offblue) 50%, var(--clr-white) 100%);
}

/* ?CODE PREVIEW CLASSES */

.gist-meta {
    display: none;
}

.blob-none,
.js-line-number {
    display: none;
}

.gist {
    margin-block: 1rem;
    margin-inline: auto;
    max-height: 15rem;
    overflow: auto;
    font-size: 1rem;
    border: 1px solid var(--clr-black);
    border-radius: 1rem;
}

div.gist .gist-file {
    margin: unset;
    border: none;
}

/* ?SIDE NAV */

.component-doc {
    display: flex;
    justify-content: space-evenly;
}

.component-doc .side-nav {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100vh - 6rem);
    padding-top: 2rem;
    padding-left: 3rem;
    overflow: auto;
    justify-self: flex-start;
    padding-right: 1rem;
}

.component-doc .side-nav::-webkit-scrollbar-track {
    margin-top: 2rem;
}

.component-doc>.side-nav>h2 {
    display: flex;
    margin-bottom: 0.5rem;
}

hr {
    margin: 0.5rem 0;
    color: var(--clr-gray);
}

.component-doc>.side-nav>ul>li {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    padding: 0.625rem;
    border-radius: 0.25rem;
}

.component-doc>.side-nav>ul>li:hover {
    background-color: var(--clr-lightgray);
}

.component-doc>.side-nav>ul>li>a>i {
    font-size: large;
    margin-right: 0.75rem;
}

.active-page {
    background-color: var(--clr-lightgray);
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background: var(--clr-lightgray);
    border-radius: 1rem;
    /* margin-block: 0.5rem; */
}


::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%, 0.8);
    border: 0.15rem solid var(--clr-lightgray);
    cursor: pointer;
    border-radius: 1rem;

}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-gray);
}

/* ?MAIN CONTENT */
.component-contents {
    overflow: auto;
    width: 70%;
    padding-inline: 1.25rem;
}

.component-doc>.component-contents>h2 {
    margin-block: 1.5rem;
}

@media only screen and (max-width: 1080px) {
    .side-nav {
        display: none;
    }

    .pagination.d-none {
        display: flex;
    }

    .component-contents {
        width: 100%;
        padding-inline: 2rem;
    }
}