@import url("/css/reset.css");
@import url("/css/nav.css");

body {
    /* background-color: #7db9e8; */
    /* background-color: #e5e7eb; */
    /* background: linear-gradient(#7db9e8 0%, #e5e7eb 10%, white 100%); */
    background-color: #bdcfdf;

}

nav {
    background: linear-gradient(#1e5799 0%, #bdcfdf 100%);
    /* background: linear-gradient(#1e5799 0%, #7db9e8 100%); */
}

/* ?CODE PREVIEW CLASSES */

.gist-meta {
    display: none;
}

.blob-none,
.js-line-number {
    display: none;
}

.gist {
    margin-block: 1rem;
    margin-inline: auto;
    max-height: 15rem;
    overflow: auto;
    font-size: 1rem;
}

/* ?SIDE NAV */

.component-doc {
    display: flex;
    justify-content: space-evenly;
}

.component-doc .side-nav {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: calc(100vh - 6rem);
    padding-top: 1rem;
    padding-left: 3rem;
    overflow: auto;
    justify-self: flex-start;
    padding-right: 1rem;
}

.component-doc>.side-nav>h2 {
    display: flex;
    margin-bottom: 0.5rem;
}

hr {
    margin: 0.5rem 0;
    color: grey;
}

.component-doc>.side-nav>ul>li {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.component-doc>.side-nav>ul>li>a>i {
    font-size: large;
    margin-right: 0.75rem;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 1rem;
    /* margin-block: 0.5rem; */
}


::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 50%, 0.8);
    border: 0.15rem solid lightgrey;
    cursor: pointer;
    border-radius: 1rem;

}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

/* ?MAIN CONTENT */
.component-contents {
    padding-block: 2rem;
    overflow: auto;
    width: 70%;
}

.component-doc>.component-contents>h2 {
    margin-block: 1.5rem;
}

/* .component-doc>.component-contents>.code-snippet {
    margin-block: 1rem;
} */

@media only screen and (max-width: 1080px) {
    .side-nav {
        display: none;
    }

    .component-contents {
        width: 100%;
        padding-inline: 2rem;
    }
}