<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/svg/snowflake-white.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0fde817728.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/docs.css">
    <link rel="stylesheet" href="/pages/components/utility/utility.css">
    <link rel="stylesheet" href="/pages/components/modal/modal.css">
    <title>SnowflakeUI | Modal</title>
</head>

<body>
    <nav class="snowflake-nav w-full fx fx-wrap fx-jc-sb fx-ai-center">
        <div class="logo-container fx fx-ai-center">
            <a class="logo" href="/">
                <img src="/assets/svg/snowflake.svg" alt="logo" loading="eager">
            </a>
            <a href="/" class="mg-i-025">
                <h2>Snowflake UI</h2>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="/" id="docs"><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="https://github.com/znjs/Snowflake-UI" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/jayasrikark" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jayasrikark" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="component-doc">
        <div class="side-nav">
            <h2>Getting Started</h2>
            <ul>
                <li><a href="/pages/docs.html">Introduction</a></li>
            </ul>
            <hr>
            <h2>Components</h2>
            <ul>
                <li><a href="/pages/components/alert/alert.html"><i class="fas fa-exclamation-triangle"></i>Alert</a>
                </li>
                <li><a href="/pages/components/avatar/avatar.html"><i class="fas fa-user-tie"></i>Avatar</a></li>
                <li><a href="/pages/components/badge/badge.html"><i class="fas fa-certificate"></i>Badge</a></li>
                <li><a href="/pages/components/button/button.html"><i class="fas fa-mouse"></i>Button</a></li>
                <li><a href="/pages/components/card/card.html"><i class="far fa-address-card"></i>Card</a></li>
                <li><a href="/pages/components/grid/grid.html"><i class="fas fa-border-none"></i>Grid</a></li>
                <li><a href="/pages/components/image/image.html"><i class="fas fa-images"></i>Image</a></li>
                <li><a href="/pages/components/input/input.html"><i class="fas fa-keyboard"></i>Input</a></li>
                <li><a href="/pages/components/list/list.html"><i class="fas fa-list"></i>List</a></li>
                <li class="active-page"><a href="/pages/components/modal/modal.html"><i
                            class="fas fa-vr-cardboard"></i>Modal</a></li>
                <li><a href="/pages/components/navigation/navigation.html"><i
                            class="fas far fa-compass"></i>Navigation</a></li>
                <li><a href="/pages/components/rating/rating.html"><i class="fas fa-star"></i>Rating</a></li>
                <li><a href="/pages/components/toast/toast.html"><i class="fas fa-flag"></i>Toast</a></li>
                <li><a href="/pages/components/utility/utility.html"><i class="fas fa-tools"></i>Utility</a></li>
            </ul>
        </div>
        <div class="component-contents">
            <h2 class="pd-b-075">Modal Component</h2>
            <hr>
            <p>
                The modal is composed of three distinct zones: A header, the body, and a footer. Components can occupy
                the full width of the modal.
            </p>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="p-rel pd-1 fx-col fx-jc-center fx-ai-center brd-sm fx-wrap">
                    <div class="h-10 w-24 brd-sm o-hide brd-hov">
                        <div class="p-rel fx-row fx-jc-sb fx-ai-center bg-clr-blue-700 pd-05 clr-gray-50">
                            <h4>This is a Modal head</h4>
                            <i class="fas fa-times cr-pt"></i>
                        </div>
                        <div class="bg-clr-gray-50 pd-05">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, ex. Obcaecati harum</p>
                            <div class="fx-row fx-jc-se fx-ai-center pd-b-05">
                                <button class="pd-05 brd-sm bg-clr-blue-700 clr-gray-50">Cancel</button>
                                <button class="pd-05 brd-sm bg-gray-200">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=toast.html"></script>
            <div class="pagination d-none w-full fx-row fx-jc-sb mg-b-105">
                <a href="/pages/components/list/list.html"> &lt;&nbsp;List</a>
                <a href="/pages/components/navigation/navigation.html">Navigation &nbsp; &gt;</a>
            </div>
        </div>
    </div>
</body>

</html>