/* ?BORDER */
.brd-sm {
    border-radius: 0.5rem;
}

.brd-round {
    border-radius: 50%;
}

.brd-none {
    border: 0;
}

.o-none {
    outline: none;
}

/* ?BOXSHADOW */

.bx-shwd-blk {
    box-shadow: 0 0 1rem black;
}

.bx-shwd-gry {
    box-shadow: 0 0 1rem grey;
}

.brd-hov:hover {
    box-shadow: 0 0 1rem grey;
}

.cr-pt {
    cursor: pointer;
}

.brd-simple {
    border: 1px solid black;
}