/* *COLORS */

/* ?Gray */
.clr-gray-50 {
    color: #f9fafb;
}

.clr-gray-100 {
    color: #f3f4f6;
}

.clr-gray-200 {
    color: #e5e7eb;
}

.clr-gray-300 {
    color: #d1d5db;
}

.clr-gray-400 {
    color: #9ca3af;
}

.clr-gray-500 {
    color: #6b7280;
}

.clr-gray-600 {
    color: #4b5563;
}

.clr-gray-700 {
    color: #374151;
}

.clr-gray-800 {
    color: #1f2937;
}

.clr-gray-900 {
    color: #111827;
}

/* ?RED */
.clr-red-50 {
    color: #fef2f2;
}

.clr-red-100 {
    color: #fee2e2;
}

.clr-red-200 {
    color: #fecaca;
}

.clr-red-300 {
    color: #fca5a5;
}

.clr-red-400 {
    color: #f87171;
}

.clr-red-500 {
    color: #ef4444;
}

.clr-red-600 {
    color: #dc2626;
}

.clr-red-700 {
    color: #b91c1c;
}

.clr-red-800 {
    color: #991b1b;
}

.clr-red-900 {
    color: #7f1d1d;
}

/* ?YELLOW */

.clr-yellow-50 {
    color: #fefce8;
}

.clr-yellow-100 {
    color: #fef9c3;
}

.clr-yellow-200 {
    color: #fef08a;
}

.clr-yellow-300 {
    color: #fde047;
}

.clr-yellow-400 {
    color: #facc15;
}

.clr-yellow-500 {
    color: #eab308;
}

.clr-yellow-600 {
    color: #ca8a04;
}

.clr-yellow-700 {
    color: #a16207;
}

.clr-yellow-800 {
    color: #854d0e;
}

.clr-yellow-900 {
    color: #713f12;
}

/* ?GREEN */

.clr-green-50 {
    color: #f0fdf4;
}

.clr-green-100 {
    color: #dcfce7;
}

.clr-green-200 {
    color: #bbf7d0;
}

.clr-green-300 {
    color: #86efac;
}

.clr-green-400 {
    color: #4ade80;
}

.clr-green-500 {
    color: #22c55e;
}

.clr-green-600 {
    color: #16a34a;
}

.clr-green-700 {
    color: #15803d;
}

.clr-green-800 {
    color: #166534;
}

.clr-green-900 {
    color: #14532d;
}

/* ?BLUE */

.clr-blue-50 {
    color: #eff6ff;
}

.clr-blue-100 {
    color: #dbeafe;
}

.clr-blue-200 {
    color: #bfdbfe;
}

.clr-blue-300 {
    color: #93c5fd;
}

.clr-blue-400 {
    color: #60a5fa;
}

.clr-blue-500 {
    color: #3b82f6;
}

.clr-blue-600 {
    color: #2563eb;
}

.clr-blue-700 {
    color: #1d4ed8;
}

.clr-blue-800 {
    color: #1e40af;
}

.clr-blue-900 {
    color: #1e3a8a;
}

/* ?PURPLE */
.clr-purple-50 {
    color: #faf5ff;
}

.clr-purple-100 {
    color: #f3e8ff;
}

.clr-purple-200 {
    color: #e9d5ff;
}

.clr-purple-300 {
    color: #d8b4fe;
}

.clr-purple-400 {
    color: #c084fc;
}

.clr-purple-500 {
    color: #a855f7;
}

.clr-purple-600 {
    color: #9333ea;
}

.clr-purple-700 {
    color: #7e22ce;
}

.clr-purple-800 {
    color: #6b21a8;
}

.clr-purple-900 {
    color: #581c87;
}

/* ?ORANGE */

.clr-orange-50 {
    color: #fff7ed;
}

.clr-orange-100 {
    color: #ffedd5;
}

.clr-orange-200 {
    color: #fed7aa;
}

.clr-orange-300 {
    color: #fdba74;
}

.clr-orange-400 {
    color: #fb923c;
}

.clr-orange-500 {
    color: #f97316;
}

.clr-orange-600 {
    color: #ea580c;
}

.clr-orange-700 {
    color: #c2410c;
}

.clr-orange-800 {
    color: #9a3412;
}

.clr-orange-900 {
    color: #7c2d12;
}

/* ?SKY */

.clr-sky-50 {
    color: #f0f9ff;
}

.clr-sky-100 {
    color: #e0f2fe;
}

.clr-sky-200 {
    color: #bae6fd;
}

.clr-sky-300 {
    color: #7dd3fc;
}

.clr-sky-400 {
    color: #38bdf8;
}

.clr-sky-500 {
    color: #0ea5e9;
}

.clr-sky-600 {
    color: #0284c7;
}

.clr-sky-700 {
    color: #0369a1;
}

.clr-sky-800 {
    color: #075985;
}

.clr-sky-900 {
    color: #0c4a6e;
}

/* ?BACKGROUND COLOR */

.bg-clr-gray-50 {
    background-color: #f9fafb;
}

.bg-clr-gray-50-o-03 {
    background-color: #f9fafb4d;
}

.bg-clr-gray-100 {
    background-color: #f3f4f6;
}

.bg-clr-gray-200 {
    background-color: #e5e7eb;
}

.bg-clr-gray-300 {
    background-color: #d1d5db;
}

.bg-clr-gray-400 {
    background-color: #9ca3af;
}

.bg-clr-gray-500 {
    background-color: #6b7280;
}

.bg-clr-gray-600 {
    background-color: #4b5563;
}

.bg-clr-gray-700 {
    background-color: #374151;
}

.bg-clr-gray-800 {
    background-color: #1f2937;
}

.bg-clr-gray-900 {
    background-color: #111827;
}

/* ?RED */
.bg-clr-red-50 {
    background-color: #fef2f2;
}

.bg-clr-red-100 {
    background-color: #fee2e2;
}

.bg-clr-red-200 {
    background-color: #fecaca;
}

.bg-clr-red-300 {
    background-color: #fca5a5;
}

.bg-clr-red-400 {
    background-color: #f87171;
}

.bg-clr-red-500 {
    background-color: #ef4444;
}

.bg-clr-red-600 {
    background-color: #dc2626;
}

.bg-clr-red-700 {
    background-color: #b91c1c;
}

.bg-clr-red-800 {
    background-color: #991b1b;
}

.bg-clr-red-900 {
    background-color: #7f1d1d;
}

/* ?YELLOW */

.bg-clr-yellow-50 {
    background-color: #fefce8;
}

.bg-clr-yellow-100 {
    background-color: #fef9c3;
}

.bg-clr-yellow-200 {
    background-color: #fef08a;
}

.bg-clr-yellow-300 {
    background-color: #fde047;
}

.bg-clr-yellow-400 {
    background-color: #facc15;
}

.bg-clr-yellow-500 {
    background-color: #eab308;
}

.bg-clr-yellow-600 {
    background-color: #ca8a04;
}

.bg-clr-yellow-700 {
    background-color: #a16207;
}

.bg-clr-yellow-800 {
    background-color: #854d0e;
}

.bg-clr-yellow-900 {
    background-color: #713f12;
}

/* ?GREEN */

.bg-clr-green-50 {
    background-color: #f0fdf4;
}

.bg-clr-green-100 {
    background-color: #dcfce7;
}

.bg-clr-green-200 {
    background-color: #bbf7d0;
}

.bg-clr-green-300 {
    background-color: #86efac;
}

.bg-clr-green-400 {
    background-color: #4ade80;
}

.bg-clr-green-500 {
    background-color: #22c55e;
}

.bg-clr-green-600 {
    background-color: #16a34a;
}

.bg-clr-green-700 {
    background-color: #15803d;
}

.bg-clr-green-800 {
    background-color: #166534;
}

.bg-clr-green-900 {
    background-color: #14532d;
}

/* ?BLUE */

.bg-clr-blue-50 {
    background-color: #eff6ff;
}

.bg-clr-blue-100 {
    background-color: #dbeafe;
}

.bg-clr-blue-200 {
    background-color: #bfdbfe;
}

.bg-clr-blue-300 {
    background-color: #93c5fd;
}

.bg-clr-blue-400 {
    background-color: #60a5fa;
}

.bg-clr-blue-500 {
    background-color: #3b82f6;
}

.bg-clr-blue-600 {
    background-color: #2563eb;
}

.bg-clr-blue-700 {
    background-color: #1d4ed8;
}

.bg-clr-blue-800 {
    background-color: #1e40af;
}

.bg-clr-blue-900 {
    background-color: #1e3a8a;
}

/* ?PURPLE */
.bg-clr-purple-50 {
    background-color: #faf5ff;
}

.bg-clr-purple-100 {
    background-color: #f3e8ff;
}

.bg-clr-purple-200 {
    background-color: #e9d5ff;
}

.bg-clr-purple-300 {
    background-color: #d8b4fe;
}

.bg-clr-purple-400 {
    background-color: #c084fc;
}

.bg-clr-purple-500 {
    background-color: #a855f7;
}

.bg-clr-purple-600 {
    background-color: #9333ea;
}

.bg-clr-purple-700 {
    background-color: #7e22ce;
}

.bg-clr-purple-800 {
    background-color: #6b21a8;
}

.bg-clr-purple-900 {
    background-color: #581c87;
}

/* ?ORANGE */

.bg-clr-orange-50 {
    background-color: #fff7ed;
}

.bg-clr-orange-100 {
    background-color: #ffedd5;
}

.bg-clr-orange-200 {
    background-color: #fed7aa;
}

.bg-clr-orange-300 {
    background-color: #fdba74;
}

.bg-clr-orange-400 {
    background-color: #fb923c;
}

.bg-clr-orange-500 {
    background-color: #f97316;
}

.bg-clr-orange-600 {
    background-color: #ea580c;
}

.bg-clr-orange-700 {
    background-color: #c2410c;
}

.bg-clr-orange-800 {
    background-color: #9a3412;
}

.bg-clr-orange-900 {
    background-color: #7c2d12;
}

/* ?SKY */

.bg-clr-sky-50 {
    background-color: #f0f9ff;
}

.bg-clr-sky-100 {
    background-color: #e0f2fe;
}

.bg-clr-sky-200 {
    background-color: #bae6fd;
}

.bg-clr-sky-300 {
    background-color: #7dd3fc;
}

.bg-clr-sky-400 {
    background-color: #38bdf8;
}

.bg-clr-sky-500 {
    background-color: #0ea5e9;
}

.bg-clr-sky-600 {
    background-color: #0284c7;
}

.bg-clr-sky-700 {
    background-color: #0369a1;
}

.bg-clr-sky-800 {
    background-color: #075985;
}

.bg-clr-sky-900 {
    background-color: #0c4a6e;
}

/* TRANSLUCENT COLORS */

.bg-trans {
    background-color: #6b7280bf;
}

.bg-star:hover {
    transition: 0.6s;
    /* background-color: #ffff00a3; */
    background-color: hsla(0, 0%, 50%, 0.144);
}

/* ?OPACITY */

.op-0 {
    opacity: 0;
}

.op-01 {
    opacity: 0.1;
}


.op-015 {
    opacity: 0.15;
}

.op-02 {
    opacity: 0.2;
}


.op-025 {
    opacity: 0.25;
}

.op-03 {
    opacity: 0.3;
}


.op-035 {
    opacity: 0.35;
}

.op-04 {
    opacity: 0.4;
}


.op-045 {
    opacity: 0.45;
}


.op-05 {
    opacity: 0.5;
}


.op-055 {
    opacity: 0.55;
}


.op-06 {
    opacity: 0.6;
}


.op-065 {
    opacity: 0.65;
}

.op-07 {
    opacity: 0.7;
}


.op-075 {
    opacity: 0.75;
}

.op-08 {
    opacity: 0.8;
}


.op-085 {
    opacity: 0.85;
}

.op-09 {
    opacity: 0.9;
}


.op-095 {
    opacity: 0.95;
}