/* ?FLEXPROPERTIES */

.fx {
    display: flex;
}

.fx-row {
    display: flex;
    flex-direction: row;
}

.fx-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.fx-col {
    display: flex;
    flex-direction: column;
}

.fx-col-rev {
    display: flex;
    flex-direction: column-reverse;
}

.fx-ai-center {
    align-items: center;
}

.fx-ji-center {
    justify-items: center;
}

.fx-jc-center {
    justify-content: center;
}

.fx-ac-center {
    align-content: center;
}

.fx-jc-sa {
    justify-content: space-around;
}

.fx-jc-sb {
    justify-content: space-between;
}

.fx-jc-se {
    justify-content: space-evenly;
}

.fx-ac-sa {
    align-content: space-around;
}

.fx-ac-sb {
    align-content: space-between;
}

.fx-ac-se {
    align-content: space-evenly;
}

.fx-wrap {
    flex-wrap: wrap;
}

.fx-wrap-rev {
    flex-wrap: wrap-reverse;
}

.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

/* ?GRID LAYOUT */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item-center {
    display: grid;
    place-items: center;
}

.g-parent {
    display: grid
}

/*  *TWO COLUMNS GRIDS */

.g-one-twelfth {
    grid-template-columns: 1fr 12fr;
}

.g-one-tenth {
    grid-template-columns: 1fr 10fr;
}

.g-one-sixth {
    grid-template-columns: 1fr 6fr;
}

.g-one-fifth {
    grid-template-columns: 1fr 5fr;
}

.g-one-fourth {
    grid-template-columns: 1fr 4fr;
    ;
}

.g-one-third {
    grid-template-columns: 1fr 3fr;
}

.g-one-one {
    grid-template-columns: 1fr 1fr;
}

/*  *THREE COLUMN GRIDS */

.g-one-one-one {
    grid-template-columns: repeat(3, 1fr);
}

.g-one-two-one {
    grid-template-columns: 1fr 2fr 1fr;
}

.g-one-one-two {
    grid-template-columns: 1fr 1fr 2fr;
}

.g-two-one-one {
    grid-template-columns: 2fr 1fr 1fr;
}