/* ?POSITION */

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}

.p-fix {
    position: fixed;
}

.p-stick {
    position: sticky;
}

.p-static {
    position: static
}

.top {
    top: 0rem;
}

.btm {
    bottom: 0rem;
}

.lft {
    left: 0rem;
}

.rgt {
    right: 0rem;
}

.top-rgt {
    top: 0rem;
    right: 0rem;
}

.top-lft {
    top: 0rem;
    left: 0rem;
}

.btm-rgt {
    bottom: 0rem;
    right: 0rem;
}

.btm-lft {
    bottom: 0rem;
    left: 0rem;
}

.top-btm-lft {
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
}

.top-btm-rgt {
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
}

/* ?ZINDEX */

.z-background {
    z-index: -3;
}

.z-bottom {
    z-index: -2;
}

.z-top {
    z-index: 2;
}

.z-foreground {
    z-index: 3;
}