/* *SPACING */

/* ?PADDING */

.pd-0125 {
    padding: 0.125rem;
}

.pd-b-0125 {
    padding-block: 0.125rem;
}

.pd-i-0125 {
    padding-inline: 0.125rem;
}

.pd-025 {
    padding: 0.25rem;
}

.pd-b-025 {
    padding-block: 0.25rem;
}

.pd-i-025 {
    padding-inline: 0.25rem;
}

.pd-0375 {
    padding: 0.375rem;
}

.pd-b-0375 {
    padding-block: 0.375rem;
}

.pd-i-0375 {
    padding-inline: 0.375rem;
}

.pd-05 {
    padding: 0.5rem;
}

.pd-b-05 {
    padding-block: 0.5rem;
}

.pd-i-05 {
    padding-inline: 0.5rem;
}

.pd-0625 {
    padding: 0.625rem;
}

.pd-b-0625 {
    padding-block: 0.625rem;
}

.pd-i-0625 {
    padding-inline: 0.625rem;
}

.pd-075 {
    padding: 0.75rem;
}

.pd-b-075 {
    padding-block: 0.75rem;
}

.pd-i-075 {
    padding-inline: 0.75rem;
}

.pd-0875 {
    padding: 0.875rem;
}

.pd-b-0875 {
    padding-block: 0.875rem;
}

.pd-i-0875 {
    padding-inline: 0.875rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-b-1 {
    padding-block: 1rem;
}

.pd-i-1 {
    padding-inline: 1rem;
}

.pd-1025 {
    padding: 1.25rem;
}

.pd-1025 {
    padding: 1.25rem;
}

.pd-b-1025 {
    padding-block: 1.25rem;
}

.pd-i-1025 {
    padding-inline: 1.25rem;
}

.pd-105 {
    padding: 1.5rem;
}

.pd-b-105 {
    padding-block: 1.5rem;
}

.pd-i-105 {
    padding-inline: 1.5rem;
}

.pd-1075 {
    padding: 1.75rem;
}

.pd-b-1075 {
    padding-block: 1.75rem;
}

.pd-i-1075 {
    padding-inline: 1.75rem;
}

.pd-2 {
    padding: 2rem;
}

.pd-b-2 {
    padding-block: 2rem;
}

.pd-i-2 {
    padding-inline: 2rem;
}

.pd-2025 {
    padding: 2.25rem;
}

.pd-b-2025 {
    padding-block: 2.25rem;
}

.pd-i-2025 {
    padding-inline: 2.25rem;
}

.pd-205 {
    padding: 2.5rem;
}

.pd-b-205 {
    padding-block: 2.5rem;
}

.pd-i-205 {
    padding-inline: 2.5rem;
}

.pd-2075 {
    padding: 2.75rem;
}

.pd-b-2075 {
    padding-block: 2.75rem;
}

.pd-i-2075 {
    padding-inline: 2.75rem;
}

.pd-3 {
    padding: 3rem;
}

.pd-b-3 {
    padding-block: 3rem;
}

.pd-i-3 {
    padding-inline: 3rem;
}

.pd-305 {
    padding: 3.5rem;
}

.pd-b-305 {
    padding-block: 3.5rem;
}

.pd-i-305 {
    padding-inline: 3.5rem;
}

.pd-4 {
    padding: 4rem;
}

.pd-b-4 {
    padding-block: 4rem;
}

.pd-i-4 {
    padding-inline: 4rem;
}

.pd-5 {
    padding: 5rem;
}

.pd-b-5 {
    padding-block: 5rem;
}

.pd-i-5 {
    padding-inline: 5rem;
}

.pd-6 {
    padding: 6rem;
}

.pd-b-6 {
    padding-block: 6rem;
}

.pd-i-6 {
    padding-inline: 6rem;
}

.pd-7 {
    padding: 7rem;
}

.pd-b-7 {
    padding-block: 7rem;
}

.pd-i-7 {
    padding-inline: 7rem;
}

.pd-8 {
    padding: 8rem;
}

.pd-b-8 {
    padding-block: 8rem;
}

.pd-i-8 {
    padding-inline: 8rem;
}

.pd-9 {
    padding: 9rem;
}

.pd-b-9 {
    padding-block: 9rem;
}

.pd-i-9 {
    padding-inline: 9rem;
}

.pd-10 {
    padding: 10rem;
}

.pd-b-10 {
    padding-block: 10rem;
}

.pd-i-10 {
    padding-inline: 10rem;
}

.pd-11 {
    padding: 11rem;
}

.pd-b-11 {
    padding-block: 11rem;
}

.pd-i-11 {
    padding-inline: 11rem;
}

.pd-12 {
    padding: 12rem;
}

.pd-b-12 {
    padding-block: 12rem;
}

.pd-i-12 {
    padding-inline: 12rem;
}

.pd-13 {
    padding: 13rem;
}

.pd-b-13 {
    padding-block: 13rem;
}

.pd-i-13 {
    padding-inline: 13rem;
}

.pd-14 {
    padding: 14rem;
}

.pd-b-14 {
    padding-block: 14rem;
}

.pd-i-14 {
    padding-inline: 14rem;
}

.pd-15 {
    padding: 15rem;
}

.pd-b-15 {
    padding-block: 15rem;
}

.pd-i-15 {
    padding-inline: 15rem;
}

.pd-16 {
    padding: 16rem;
}

.pd-b-16 {
    padding-block: 16rem;
}

.pd-i-16 {
    padding-inline: 16rem;
}

.pd-18 {
    padding: 18rem;
}

.pd-b-18 {
    padding-block: 18rem;
}

.pd-i-18 {
    padding-inline: 18rem;
}

.pd-20 {
    padding: 20rem;
}

.pd-b-20 {
    padding-block: 20rem;
}

.pd-i-20 {
    padding-inline: 20rem;
}

.pd-24 {
    padding: 24rem;
}

.pd-b-24 {
    padding-block: 24rem;
}

.pd-i-24 {
    padding-inline: 24rem;
}

/* ?MARGIN */

.mg-0125 {
    margin: 0.125rem;
}

.mg-b-0125 {
    margin-block: 0.125rem;
}

.mg-i-0125 {
    margin-inline: 0.125rem;
}

.mg-025 {
    margin: 0.25rem;
}

.mg-b-025 {
    margin-block: 0.25rem;
}

.mg-i-025 {
    margin-inline: 0.25rem;
}

.mg-0375 {
    margin: 0.375rem;
}

.mg-b-0375 {
    margin-block: 0.375rem;
}

.mg-i-0375 {
    margin-inline: 0.375rem;
}

.mg-05 {
    margin: 0.5rem;
}

.mg-b-05 {
    margin-block: 0.5rem;
}

.mg-i-05 {
    margin-inline: 0.5rem;
}

.mg-0625 {
    margin: 0.625rem;
}

.mg-b-0625 {
    margin-block: 0.625rem;
}

.mg-i-0625 {
    margin-inline: 0.625rem;
}

.mg-075 {
    margin: 0.75rem;
}

.mg-b-075 {
    margin-block: 0.75rem;
}

.mg-i-075 {
    margin-inline: 0.75rem;
}

.mg-0875 {
    margin: 0.875rem;
}

.mg-b-0875 {
    margin-block: 0.875rem;
}

.mg-i-0875 {
    margin-inline: 0.875rem;
}

.mg-1 {
    margin: 1rem;
}

.mg-b-1 {
    margin-block: 1rem;
}

.mg-i-1 {
    margin-inline: 1rem;
}

.mg-1025 {
    margin: 1.25rem;
}

.mg-1025 {
    margin: 1.25rem;
}

.mg-b-1025 {
    margin-block: 1.25rem;
}

.mg-i-1025 {
    margin-inline: 1.25rem;
}

.mg-105 {
    margin: 1.5rem;
}

.mg-b-105 {
    margin-block: 1.5rem;
}

.mg-i-105 {
    margin-inline: 1.5rem;
}

.mg-1075 {
    margin: 1.75rem;
}

.mg-b-1075 {
    margin-block: 1.75rem;
}

.mg-i-1075 {
    margin-inline: 1.75rem;
}

.mg-2 {
    margin: 2rem;
}

.mg-b-2 {
    margin-block: 2rem;
}

.mg-i-2 {
    margin-inline: 2rem;
}

.mg-2025 {
    margin: 2.25rem;
}

.mg-b-2025 {
    margin-block: 2.25rem;
}

.mg-i-2025 {
    margin-inline: 2.25rem;
}

.mg-205 {
    margin: 2.5rem;
}

.mg-b-205 {
    margin-block: 2.5rem;
}

.mg-i-205 {
    margin-inline: 2.5rem;
}

.mg-2075 {
    margin: 2.75rem;
}

.mg-b-2075 {
    margin-block: 2.75rem;
}

.mg-i-2075 {
    margin-inline: 2.75rem;
}

.mg-3 {
    margin: 3rem;
}

.mg-b-3 {
    margin-block: 3rem;
}

.mg-i-3 {
    margin-inline: 3rem;
}

.mg-305 {
    margin: 3.5rem;
}

.mg-b-305 {
    margin-block: 3.5rem;
}

.mg-i-305 {
    margin-inline: 3.5rem;
}

.mg-4 {
    margin: 4rem;
}

.mg-b-4 {
    margin-block: 4rem;
}

.mg-i-4 {
    margin-inline: 4rem;
}

.mg-5 {
    margin: 5rem;
}

.mg-b-5 {
    margin-block: 5rem;
}

.mg-i-5 {
    margin-inline: 5rem;
}

.mg-6 {
    margin: 6rem;
}

.mg-b-6 {
    margin-block: 6rem;
}

.mg-i-6 {
    margin-inline: 6rem;
}

.mg-7 {
    margin: 7rem;
}

.mg-b-7 {
    margin-block: 7rem;
}

.mg-i-7 {
    margin-inline: 7rem;
}

.mg-8 {
    margin: 8rem;
}

.mg-b-8 {
    margin-block: 8rem;
}

.mg-i-8 {
    margin-inline: 8rem;
}

.mg-9 {
    margin: 9rem;
}

.mg-b-9 {
    margin-block: 9rem;
}

.mg-i-9 {
    margin-inline: 9rem;
}

.mg-10 {
    margin: 10rem;
}

.mg-b-10 {
    margin-block: 10rem;
}

.mg-i-10 {
    margin-inline: 10rem;
}

.mg-11 {
    margin: 11rem;
}

.mg-b-11 {
    margin-block: 11rem;
}

.mg-i-11 {
    margin-inline: 11rem;
}

.mg-12 {
    margin: 12rem;
}

.mg-b-12 {
    margin-block: 12rem;
}

.mg-i-12 {
    margin-inline: 12rem;
}

.mg-13 {
    margin: 13rem;
}

.mg-b-13 {
    margin-block: 13rem;
}

.mg-i-13 {
    margin-inline: 13rem;
}

.mg-14 {
    margin: 14rem;
}

.mg-b-14 {
    margin-block: 14rem;
}

.mg-i-14 {
    margin-inline: 14rem;
}

.mg-15 {
    margin: 15rem;
}

.mg-b-15 {
    margin-block: 15rem;
}

.mg-i-15 {
    margin-inline: 15rem;
}

.mg-16 {
    margin: 16rem;
}

.mg-b-16 {
    margin-block: 16rem;
}

.mg-i-16 {
    margin-inline: 16rem;
}

.mg-18 {
    margin: 18rem;
}

.mg-b-18 {
    margin-block: 18rem;
}

.mg-i-18 {
    margin-inline: 18rem;
}

.mg-20 {
    margin: 20rem;
}

.mg-b-20 {
    margin-block: 20rem;
}

.mg-i-20 {
    margin-inline: 20rem;
}

.mg-24 {
    margin: 24rem;
}

.mg-b-24 {
    margin-block: 24rem;
}

.mg-i-24 {
    margin-inline: 24rem;
}

.mg-b-auto {
    margin-block: auto;
}

.mg-i-auto {
    margin-inline: auto;
}