/* *COLORS */

/* ?Gray */
.clr-gray-50 {
    color: #f9fafb;
}

.clr-gray-100 {
    color: #f3f4f6;
}

.clr-gray-200 {
    color: #e5e7eb;
}

.clr-gray-300 {
    color: #d1d5db;
}

.clr-gray-400 {
    color: #9ca3af;
}

.clr-gray-500 {
    color: #6b7280;
}

.clr-gray-600 {
    color: #4b5563;
}

.clr-gray-700 {
    color: #374151;
}

.clr-gray-800 {
    color: #1f2937;
}

.clr-gray-900 {
    color: #111827;
}

/* ?RED */
.clr-red-50 {
    color: #fef2f2;
}

.clr-red-100 {
    color: #fee2e2;
}

.clr-red-200 {
    color: #fecaca;
}

.clr-red-300 {
    color: #fca5a5;
}

.clr-red-400 {
    color: #f87171;
}

.clr-red-500 {
    color: #ef4444;
}

.clr-red-600 {
    color: #dc2626;
}

.clr-red-700 {
    color: #b91c1c;
}

.clr-red-800 {
    color: #991b1b;
}

.clr-red-900 {
    color: #7f1d1d;
}

/* ?YELLOW */

.clr-yellow-50 {
    color: #fefce8;
}

.clr-yellow-100 {
    color: #fef9c3;
}

.clr-yellow-200 {
    color: #fef08a;
}

.clr-yellow-300 {
    color: #fde047;
}

.clr-yellow-400 {
    color: #facc15;
}

.clr-yellow-500 {
    color: #eab308;
}

.clr-yellow-600 {
    color: #ca8a04;
}

.clr-yellow-700 {
    color: #a16207;
}

.clr-yellow-800 {
    color: #854d0e;
}

.clr-yellow-900 {
    color: #713f12;
}

/* ?GREEN */

.clr-green-50 {
    color: #f0fdf4;
}

.clr-green-100 {
    color: #dcfce7;
}

.clr-green-200 {
    color: #bbf7d0;
}

.clr-green-300 {
    color: #86efac;
}

.clr-green-400 {
    color: #4ade80;
}

.clr-green-500 {
    color: #22c55e;
}

.clr-green-600 {
    color: #16a34a;
}

.clr-green-700 {
    color: #15803d;
}

.clr-green-800 {
    color: #166534;
}

.clr-green-900 {
    color: #14532d;
}

/* ?BLUE */

.clr-blue-50 {
    color: #eff6ff;
}

.clr-blue-100 {
    color: #dbeafe;
}

.clr-blue-200 {
    color: #bfdbfe;
}

.clr-blue-300 {
    color: #93c5fd;
}

.clr-blue-400 {
    color: #60a5fa;
}

.clr-blue-500 {
    color: #3b82f6;
}

.clr-blue-600 {
    color: #2563eb;
}

.clr-blue-700 {
    color: #1d4ed8;
}

.clr-blue-800 {
    color: #1e40af;
}

.clr-blue-900 {
    color: #1e3a8a;
}

/* ?PURPLE */
.clr-purple-50 {
    color: #faf5ff;
}

.clr-purple-100 {
    color: #f3e8ff;
}

.clr-purple-200 {
    color: #e9d5ff;
}

.clr-purple-300 {
    color: #d8b4fe;
}

.clr-purple-400 {
    color: #c084fc;
}

.clr-purple-500 {
    color: #a855f7;
}

.clr-purple-600 {
    color: #9333ea;
}

.clr-purple-700 {
    color: #7e22ce;
}

.clr-purple-800 {
    color: #6b21a8;
}

.clr-purple-900 {
    color: #581c87;
}

/* ?ORANGE */

.clr-orange-50 {
    color: #fff7ed;
}

.clr-orange-100 {
    color: #ffedd5;
}

.clr-orange-200 {
    color: #fed7aa;
}

.clr-orange-300 {
    color: #fdba74;
}

.clr-orange-400 {
    color: #fb923c;
}

.clr-orange-500 {
    color: #f97316;
}

.clr-orange-600 {
    color: #ea580c;
}

.clr-orange-700 {
    color: #c2410c;
}

.clr-orange-800 {
    color: #9a3412;
}

.clr-orange-900 {
    color: #7c2d12;
}

/* ?SKY */

.clr-sky-50 {
    color: #f0f9ff;
}

.clr-sky-100 {
    color: #e0f2fe;
}

.clr-sky-200 {
    color: #bae6fd;
}

.clr-sky-300 {
    color: #7dd3fc;
}

.clr-sky-400 {
    color: #38bdf8;
}

.clr-sky-500 {
    color: #0ea5e9;
}

.clr-sky-600 {
    color: #0284c7;
}

.clr-sky-700 {
    color: #0369a1;
}

.clr-sky-800 {
    color: #075985;
}

.clr-sky-900 {
    color: #0c4a6e;
}

/* ?BACKGROUND COLOR */

.bg-clr-gray-50 {
    background-color: #f9fafb;
}

.bg-clr-gray-100 {
    background-color: #f3f4f6;
}

.bg-clr-gray-200 {
    background-color: #e5e7eb;
}

.bg-clr-gray-300 {
    background-color: #d1d5db;
}

.bg-clr-gray-400 {
    background-color: #9ca3af;
}

.bg-clr-gray-500 {
    background-color: #6b7280;
}

.bg-clr-gray-600 {
    background-color: #4b5563;
}

.bg-clr-gray-700 {
    background-color: #374151;
}

.bg-clr-gray-800 {
    background-color: #1f2937;
}

.bg-clr-gray-900 {
    background-color: #111827;
}

/* ?RED */
.bg-clr-red-50 {
    background-color: #fef2f2;
}

.bg-clr-red-100 {
    background-color: #fee2e2;
}

.bg-clr-red-200 {
    background-color: #fecaca;
}

.bg-clr-red-300 {
    background-color: #fca5a5;
}

.bg-clr-red-400 {
    background-color: #f87171;
}

.bg-clr-red-500 {
    background-color: #ef4444;
}

.bg-clr-red-600 {
    background-color: #dc2626;
}

.bg-clr-red-700 {
    background-color: #b91c1c;
}

.bg-clr-red-800 {
    background-color: #991b1b;
}

.bg-clr-red-900 {
    background-color: #7f1d1d;
}

/* ?YELLOW */

.bg-clr-yellow-50 {
    background-color: #fefce8;
}

.bg-clr-yellow-100 {
    background-color: #fef9c3;
}

.bg-clr-yellow-200 {
    background-color: #fef08a;
}

.bg-clr-yellow-300 {
    background-color: #fde047;
}

.bg-clr-yellow-400 {
    background-color: #facc15;
}

.bg-clr-yellow-500 {
    background-color: #eab308;
}

.bg-clr-yellow-600 {
    background-color: #ca8a04;
}

.bg-clr-yellow-700 {
    background-color: #a16207;
}

.bg-clr-yellow-800 {
    background-color: #854d0e;
}

.bg-clr-yellow-900 {
    background-color: #713f12;
}

/* ?GREEN */

.bg-clr-green-50 {
    background-color: #f0fdf4;
}

.bg-clr-green-100 {
    background-color: #dcfce7;
}

.bg-clr-green-200 {
    background-color: #bbf7d0;
}

.bg-clr-green-300 {
    background-color: #86efac;
}

.bg-clr-green-400 {
    background-color: #4ade80;
}

.bg-clr-green-500 {
    background-color: #22c55e;
}

.bg-clr-green-600 {
    background-color: #16a34a;
}

.bg-clr-green-700 {
    background-color: #15803d;
}

.bg-clr-green-800 {
    background-color: #166534;
}

.bg-clr-green-900 {
    background-color: #14532d;
}

/* ?BLUE */

.bg-clr-blue-50 {
    background-color: #eff6ff;
}

.bg-clr-blue-100 {
    background-color: #dbeafe;
}

.bg-clr-blue-200 {
    background-color: #bfdbfe;
}

.bg-clr-blue-300 {
    background-color: #93c5fd;
}

.bg-clr-blue-400 {
    background-color: #60a5fa;
}

.bg-clr-blue-500 {
    background-color: #3b82f6;
}

.bg-clr-blue-600 {
    background-color: #2563eb;
}

.bg-clr-blue-700 {
    background-color: #1d4ed8;
}

.bg-clr-blue-800 {
    background-color: #1e40af;
}

.bg-clr-blue-900 {
    background-color: #1e3a8a;
}

/* ?PURPLE */
.bg-clr-purple-50 {
    background-color: #faf5ff;
}

.bg-clr-purple-100 {
    background-color: #f3e8ff;
}

.bg-clr-purple-200 {
    background-color: #e9d5ff;
}

.bg-clr-purple-300 {
    background-color: #d8b4fe;
}

.bg-clr-purple-400 {
    background-color: #c084fc;
}

.bg-clr-purple-500 {
    background-color: #a855f7;
}

.bg-clr-purple-600 {
    background-color: #9333ea;
}

.bg-clr-purple-700 {
    background-color: #7e22ce;
}

.bg-clr-purple-800 {
    background-color: #6b21a8;
}

.bg-clr-purple-900 {
    background-color: #581c87;
}

/* ?ORANGE */

.bg-clr-orange-50 {
    background-color: #fff7ed;
}

.bg-clr-orange-100 {
    background-color: #ffedd5;
}

.bg-clr-orange-200 {
    background-color: #fed7aa;
}

.bg-clr-orange-300 {
    background-color: #fdba74;
}

.bg-clr-orange-400 {
    background-color: #fb923c;
}

.bg-clr-orange-500 {
    background-color: #f97316;
}

.bg-clr-orange-600 {
    background-color: #ea580c;
}

.bg-clr-orange-700 {
    background-color: #c2410c;
}

.bg-clr-orange-800 {
    background-color: #9a3412;
}

.bg-clr-orange-900 {
    background-color: #7c2d12;
}

/* ?SKY */

.bg-clr-sky-50 {
    background-color: #f0f9ff;
}

.bg-clr-sky-100 {
    background-color: #e0f2fe;
}

.bg-clr-sky-200 {
    background-color: #bae6fd;
}

.bg-clr-sky-300 {
    background-color: #7dd3fc;
}

.bg-clr-sky-400 {
    background-color: #38bdf8;
}

.bg-clr-sky-500 {
    background-color: #0ea5e9;
}

.bg-clr-sky-600 {
    background-color: #0284c7;
}

.bg-clr-sky-700 {
    background-color: #0369a1;
}

.bg-clr-sky-800 {
    background-color: #075985;
}

.bg-clr-sky-900 {
    background-color: #0c4a6e;
}

/* *SPACING */

/* ?PADDING */

.pd-0125 {
    padding: 0.125rem;
}

.pd-b-0125 {
    padding-block: 0.125rem;
}

.pd-i-0125 {
    padding-inline: 0.125rem;
}

.pd-025 {
    padding: 0.25rem;
}

.pd-b-025 {
    padding-block: 0.25rem;
}

.pd-i-025 {
    padding-inline: 0.25rem;
}

.pd-0375 {
    padding: 0.375rem;
}

.pd-b-0375 {
    padding-block: 0.375rem;
}

.pd-i-0375 {
    padding-inline: 0.375rem;
}

.pd-05 {
    padding: 0.5rem;
}

.pd-b-05 {
    padding-block: 0.5rem;
}

.pd-i-05 {
    padding-inline: 0.5rem;
}

.pd-0625 {
    padding: 0.625rem;
}

.pd-b-0625 {
    padding-block: 0.625rem;
}

.pd-i-0625 {
    padding-inline: 0.625rem;
}

.pd-075 {
    padding: 0.75rem;
}

.pd-b-075 {
    padding-block: 0.75rem;
}

.pd-i-075 {
    padding-inline: 0.75rem;
}

.pd-0875 {
    padding: 0.875rem;
}

.pd-b-0875 {
    padding-block: 0.875rem;
}

.pd-i-0875 {
    padding-inline: 0.875rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-b-1 {
    padding-block: 1rem;
}

.pd-i-1 {
    padding-inline: 1rem;
}

.pd-1025 {
    padding: 1.25rem;
}

.pd-1025 {
    padding: 1.25rem;
}

.pd-b-1025 {
    padding-block: 1.25rem;
}

.pd-i-1025 {
    padding-inline: 1.25rem;
}

.pd-105 {
    padding: 1.5rem;
}

.pd-b-105 {
    padding-block: 1.5rem;
}

.pd-i-105 {
    padding-inline: 1.5rem;
}

.pd-1075 {
    padding: 1.75rem;
}

.pd-b-1075 {
    padding-block: 1.75rem;
}

.pd-i-1075 {
    padding-inline: 1.75rem;
}

.pd-2 {
    padding: 2rem;
}

.pd-b-2 {
    padding-block: 2rem;
}

.pd-i-2 {
    padding-inline: 2rem;
}

.pd-2025 {
    padding: 2.25rem;
}

.pd-b-2025 {
    padding-block: 2.25rem;
}

.pd-i-2025 {
    padding-inline: 2.25rem;
}

.pd-205 {
    padding: 2.5rem;
}

.pd-b-205 {
    padding-block: 2.5rem;
}

.pd-i-205 {
    padding-inline: 2.5rem;
}

.pd-2075 {
    padding: 2.75rem;
}

.pd-b-2075 {
    padding-block: 2.75rem;
}

.pd-i-2075 {
    padding-inline: 2.75rem;
}

.pd-3 {
    padding: 3rem;
}

.pd-b-3 {
    padding-block: 3rem;
}

.pd-i-3 {
    padding-inline: 3rem;
}

.pd-305 {
    padding: 3.5rem;
}

.pd-b-305 {
    padding-block: 3.5rem;
}

.pd-i-305 {
    padding-inline: 3.5rem;
}

.pd-4 {
    padding: 4rem;
}

.pd-b-4 {
    padding-block: 4rem;
}

.pd-i-4 {
    padding-inline: 4rem;
}

.pd-5 {
    padding: 5rem;
}

.pd-b-5 {
    padding-block: 5rem;
}

.pd-i-5 {
    padding-inline: 5rem;
}

.pd-6 {
    padding: 6rem;
}

.pd-b-6 {
    padding-block: 6rem;
}

.pd-i-6 {
    padding-inline: 6rem;
}

.pd-7 {
    padding: 7rem;
}

.pd-b-7 {
    padding-block: 7rem;
}

.pd-i-7 {
    padding-inline: 7rem;
}

.pd-8 {
    padding: 8rem;
}

.pd-b-8 {
    padding-block: 8rem;
}

.pd-i-8 {
    padding-inline: 8rem;
}

.pd-9 {
    padding: 9rem;
}

.pd-b-9 {
    padding-block: 9rem;
}

.pd-i-9 {
    padding-inline: 9rem;
}

.pd-10 {
    padding: 10rem;
}

.pd-b-10 {
    padding-block: 10rem;
}

.pd-i-10 {
    padding-inline: 10rem;
}

.pd-11 {
    padding: 11rem;
}

.pd-b-11 {
    padding-block: 11rem;
}

.pd-i-11 {
    padding-inline: 11rem;
}

.pd-12 {
    padding: 12rem;
}

.pd-b-12 {
    padding-block: 12rem;
}

.pd-i-12 {
    padding-inline: 12rem;
}

.pd-13 {
    padding: 13rem;
}

.pd-b-13 {
    padding-block: 13rem;
}

.pd-i-13 {
    padding-inline: 13rem;
}

.pd-14 {
    padding: 14rem;
}

.pd-b-14 {
    padding-block: 14rem;
}

.pd-i-14 {
    padding-inline: 14rem;
}

.pd-15 {
    padding: 15rem;
}

.pd-b-15 {
    padding-block: 15rem;
}

.pd-i-15 {
    padding-inline: 15rem;
}

.pd-16 {
    padding: 16rem;
}

.pd-b-16 {
    padding-block: 16rem;
}

.pd-i-16 {
    padding-inline: 16rem;
}

.pd-18 {
    padding: 18rem;
}

.pd-b-18 {
    padding-block: 18rem;
}

.pd-i-18 {
    padding-inline: 18rem;
}

.pd-20 {
    padding: 20rem;
}

.pd-b-20 {
    padding-block: 20rem;
}

.pd-i-20 {
    padding-inline: 20rem;
}

.pd-24 {
    padding: 24rem;
}

.pd-b-24 {
    padding-block: 24rem;
}

.pd-i-24 {
    padding-inline: 24rem;
}

/* ?MARGIN */

.mg-0125 {
    margin: 0.125rem;
}

.mg-b-0125 {
    margin-block: 0.125rem;
}

.mg-i-0125 {
    margin-inline: 0.125rem;
}

.mg-025 {
    margin: 0.25rem;
}

.mg-b-025 {
    margin-block: 0.25rem;
}

.mg-i-025 {
    margin-inline: 0.25rem;
}

.mg-0375 {
    margin: 0.375rem;
}

.mg-b-0375 {
    margin-block: 0.375rem;
}

.mg-i-0375 {
    margin-inline: 0.375rem;
}

.mg-05 {
    margin: 0.5rem;
}

.mg-b-05 {
    margin-block: 0.5rem;
}

.mg-i-05 {
    margin-inline: 0.5rem;
}

.mg-0625 {
    margin: 0.625rem;
}

.mg-b-0625 {
    margin-block: 0.625rem;
}

.mg-i-0625 {
    margin-inline: 0.625rem;
}

.mg-075 {
    margin: 0.75rem;
}

.mg-b-075 {
    margin-block: 0.75rem;
}

.mg-i-075 {
    margin-inline: 0.75rem;
}

.mg-0875 {
    margin: 0.875rem;
}

.mg-b-0875 {
    margin-block: 0.875rem;
}

.mg-i-0875 {
    margin-inline: 0.875rem;
}

.mg-1 {
    margin: 1rem;
}

.mg-b-1 {
    margin-block: 1rem;
}

.mg-i-1 {
    margin-inline: 1rem;
}

.mg-1025 {
    margin: 1.25rem;
}

.mg-1025 {
    margin: 1.25rem;
}

.mg-b-1025 {
    margin-block: 1.25rem;
}

.mg-i-1025 {
    margin-inline: 1.25rem;
}

.mg-105 {
    margin: 1.5rem;
}

.mg-b-105 {
    margin-block: 1.5rem;
}

.mg-i-105 {
    margin-inline: 1.5rem;
}

.mg-1075 {
    margin: 1.75rem;
}

.mg-b-1075 {
    margin-block: 1.75rem;
}

.mg-i-1075 {
    margin-inline: 1.75rem;
}

.mg-2 {
    margin: 2rem;
}

.mg-b-2 {
    margin-block: 2rem;
}

.mg-i-2 {
    margin-inline: 2rem;
}

.mg-2025 {
    margin: 2.25rem;
}

.mg-b-2025 {
    margin-block: 2.25rem;
}

.mg-i-2025 {
    margin-inline: 2.25rem;
}

.mg-205 {
    margin: 2.5rem;
}

.mg-b-205 {
    margin-block: 2.5rem;
}

.mg-i-205 {
    margin-inline: 2.5rem;
}

.mg-2075 {
    margin: 2.75rem;
}

.mg-b-2075 {
    margin-block: 2.75rem;
}

.mg-i-2075 {
    margin-inline: 2.75rem;
}

.mg-3 {
    margin: 3rem;
}

.mg-b-3 {
    margin-block: 3rem;
}

.mg-i-3 {
    margin-inline: 3rem;
}

.mg-305 {
    margin: 3.5rem;
}

.mg-b-305 {
    margin-block: 3.5rem;
}

.mg-i-305 {
    margin-inline: 3.5rem;
}

.mg-4 {
    margin: 4rem;
}

.mg-b-4 {
    margin-block: 4rem;
}

.mg-i-4 {
    margin-inline: 4rem;
}

.mg-5 {
    margin: 5rem;
}

.mg-b-5 {
    margin-block: 5rem;
}

.mg-i-5 {
    margin-inline: 5rem;
}

.mg-6 {
    margin: 6rem;
}

.mg-b-6 {
    margin-block: 6rem;
}

.mg-i-6 {
    margin-inline: 6rem;
}

.mg-7 {
    margin: 7rem;
}

.mg-b-7 {
    margin-block: 7rem;
}

.mg-i-7 {
    margin-inline: 7rem;
}

.mg-8 {
    margin: 8rem;
}

.mg-b-8 {
    margin-block: 8rem;
}

.mg-i-8 {
    margin-inline: 8rem;
}

.mg-9 {
    margin: 9rem;
}

.mg-b-9 {
    margin-block: 9rem;
}

.mg-i-9 {
    margin-inline: 9rem;
}

.mg-10 {
    margin: 10rem;
}

.mg-b-10 {
    margin-block: 10rem;
}

.mg-i-10 {
    margin-inline: 10rem;
}

.mg-11 {
    margin: 11rem;
}

.mg-b-11 {
    margin-block: 11rem;
}

.mg-i-11 {
    margin-inline: 11rem;
}

.mg-12 {
    margin: 12rem;
}

.mg-b-12 {
    margin-block: 12rem;
}

.mg-i-12 {
    margin-inline: 12rem;
}

.mg-13 {
    margin: 13rem;
}

.mg-b-13 {
    margin-block: 13rem;
}

.mg-i-13 {
    margin-inline: 13rem;
}

.mg-14 {
    margin: 14rem;
}

.mg-b-14 {
    margin-block: 14rem;
}

.mg-i-14 {
    margin-inline: 14rem;
}

.mg-15 {
    margin: 15rem;
}

.mg-b-15 {
    margin-block: 15rem;
}

.mg-i-15 {
    margin-inline: 15rem;
}

.mg-16 {
    margin: 16rem;
}

.mg-b-16 {
    margin-block: 16rem;
}

.mg-i-16 {
    margin-inline: 16rem;
}

.mg-18 {
    margin: 18rem;
}

.mg-b-18 {
    margin-block: 18rem;
}

.mg-i-18 {
    margin-inline: 18rem;
}

.mg-20 {
    margin: 20rem;
}

.mg-b-20 {
    margin-block: 20rem;
}

.mg-i-20 {
    margin-inline: 20rem;
}

.mg-24 {
    margin: 24rem;
}

.mg-b-24 {
    margin-block: 24rem;
}

.mg-i-24 {
    margin-inline: 24rem;
}

/* ?HEIGHT */

.h-0125 {
    height: 0.125rem;
}

.h-025 {
    height: 0.25rem;
}

.h-0375 {
    height: 0.375rem;
}

.h-05 {
    height: 0.5rem;
}

.h-0625 {
    height: 0.625rem;
}

.h-075 {
    height: 0.75rem;
}

.h-0875 {
    height: 0.875rem;
}

.h-1 {
    height: 1rem;
}

.h-1025 {
    height: 1.25rem;
}

.h-105 {
    height: 1.5rem;
}

.h-1075 {
    height: 1.75rem;
}

.h-2 {
    height: 2rem;
}

.h-2025 {
    height: 2.25rem;
}

.h-205 {
    height: 2.5rem;
}

.h-2075 {
    height: 2.75rem;
}

.h-3 {
    height: 3rem;
}

.h-305 {
    height: 3.5rem;
}

.h-4 {
    height: 4rem;
}

.h-5 {
    height: 5rem;
}

.h-6 {
    height: 6rem;
}

.h-7 {
    height: 7rem;
}

.h-8 {
    height: 8rem;
}

.h-9 {
    height: 9rem;
}

.h-10 {
    height: 10rem;
}

.h-11 {
    height: 11rem;
}

.h-12 {
    height: 12rem;
}

.h-13 {
    height: 13rem;
}

.h-14 {
    height: 14rem;
}

.h-15 {
    height: 15rem;
}

.h-16 {
    height: 16rem;
}

.h-18 {
    height: 18rem;
}

.h-20 {
    height: 20rem;
}

.h-24 {
    height: 24rem;
}

.h-auto {
    height: auto;
}

.h-half {
    height: 50%;
}

.h-one-third {
    height: 33.333333%;
}

.h-two-third {
    height: 66.666667%;
}

.h-quarter {
    height: 25%;
}

.h-three-fourth {
    height: 75%;
}

.h-one-fifth {
    height: 20%;
}

.h-two-fifth {
    height: 40%;
}

.h-three-fifth {
    height: 60%;
}

.h-four-fifth {
    height: 80%;
}

.h-one-sixth {
    height: 16.666667%;
}

.h-two-sixth {
    height: 33.333333%;
}

.h-three-sixth {
    height: 50%;
}

.h-four-sixth {
    height: 66.666667%;
}

.h-five-sixth {
    height: 83.333333%;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.h-min {
    height: min-content;
}

.h-max {
    height: max-content;
}

.h-fit {
    height: fit-content;
}