<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/svg/snowflake-white.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0fde817728.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/docs.css">
    <link rel="stylesheet" href="/pages/components/utility/utility.css">
    <link rel="stylesheet" href="/pages/components/navigation/navigation.css">
    <title>SnowflakeUI | Navigation</title>
</head>

<body>
    <nav class="snowflake-nav">
        <div class="logo-container" href="/">
            <img src="/assets/svg/snowflake.svg" alt="logo" loading="eager">
            <h2>Snowflake UI</h2>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="/" id="docs"><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="https://github.com/znjs/Snowflake-UI" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/jayasrikark" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jayasrikark" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </li>

            </ul>
        </div>

    </nav>
    <div class="component-doc">
        <div class="side-nav">
            <h2>Getting Started</h2>
            <ul>
                <li><a href="/pages/docs.html">Introduction</a></li>
            </ul>
            <hr>
            <h2>Components</h2>
            <ul>
                <li><a href="/pages/components/alert/alert.html"><i class="fas fa-exclamation-triangle"></i>Alert</a>
                </li>
                <li><a href="/pages/components/avatar/avatar.html"><i class="fas fa-user-tie"></i>Avatar</a></li>
                <li><a href="/pages/components/badge/badge.html"><i class="fas fa-certificate"></i>Badge</a></li>
                <li><a href="/pages/components/button/button.html"><i class="fas fa-mouse"></i>Button</a></li>
                <li><a href="/pages/components/card/card.html"><i class="far fa-address-card"></i>Card</a></li>
                <li><a href="/pages/components/grid/grid.html"><i class="fas fa-border-none"></i>Grid</a></li>
                <li><a href="/pages/components/image/image.html"><i class="fas fa-images"></i>Image</a></li>
                <li><a href="/pages/components/input/input.html"><i class="fas fa-keyboard"></i>Input</a></li>
                <li><a href="/pages/components/list/list.html"><i class="fas fa-list"></i>List</a></li>
                <li><a href="/pages/components/modal/modal.html"><i class="fas fa-vr-cardboard"></i>Modal</a></li>
                <li><a href="/pages/components/navigation/navigation.html"><i
                            class="fas far fa-compass"></i>Navigation</a></li>
                <li><a href="/pages/components/rating/rating.html"><i class="fas fa-star"></i>Rating</a></li>
                <li><a href="/pages/components/toast/toast.html"><i class="fas fa-flag"></i>Toast</a></li>
                <li><a href="/pages/components/utility/utility.html"><i class="fas fa-tools"></i>Utility</a></li>
            </ul>
        </div>
        <div class="utility-componenet-contents">
            <h2 class="pd-b-075">Utility Component</h2>
            <hr>
            <p>
                A utility class is a class that is just a namespace for functions. No instances of it can exist, and all
                its members are static.
            </p>
            <h3 class="pd-b-1">Headings</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-col fx-jc-se fx-ai-center brd-sm fx-wrap">
                    <h1>Heading 1 - Snowflake UI</h1>
                    <h2>Heading 1 - Snowflake UI</h2>
                    <h3>Heading 1 - Snowflake UI</h3>
                    <h4>Heading 1 - Snowflake UI</h4>
                    <h5>Heading 1 - Snowflake UI</h5>
                    <h6>Heading 1 - Snowflake UI</h6>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=heading.html"></script>
            <h3 class="pd-b-1">Font family</h3>
            <p>Snowflake UI uses <b>Poppins</b> font you can import using following import statement</p>
            <p>User can also import other fonts also from the following list</p>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=importFont.css">
            </script>
            <h3 class="pd-b-1">Font style</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-col fx-jc-se fx-ai-center brd-sm fx-wrap">
                    <div class="fw-bold">Big brown fox jumps over a lazy dog</div>
                    <div class="fs-italic">Big brown fox jumps over a lazy dog</div>
                    <div class="fs-normal">Big brown fox jumps over a lazy dog</div>
                    <div class="tx-ul">Big brown fox jumps over a lazy dog</div>
                    <div class="tx-lt">Big brown fox jumps over a lazy dog</div>
                    <div class="fv-sc">Big brown fox jumps over a lazy dog</div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=fontStyles.html">
            </script>
            <h3 class="pd-b-1">Font weights</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-col fx-jc-se fx-ai-center brd-sm fx-wrap">
                    <div class="fw-100">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-200">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-300">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-400">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-500">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-600">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-700">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-800">Big brown fox jumps over a lazy dog</div>
                    <div class="fw-900">Big brown fox jumps over a lazy dog</div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=fontWeight.html">
            </script>

            <h3 class="pd-b-1">Font Sizes</h3>
            <div class="bg-clr-gray-100 brd-sm mg-b-1 o-hide bx-shwd-blk">
                <div class="pd-1 fx-col fx-jc-se fx-ai-center brd-sm fx-wrap">
                    <div class="f-05">Big brown fox jumps over a lazy dog</div>
                    <div class="f-075">Big brown fox jumps over a lazy dog</div>
                    <div class="f-085">Big brown fox jumps over a lazy dog</div>
                    <div class="f-1">Big brown fox jumps over a lazy dog</div>
                    <div class="f-1025">Big brown fox jumps over a lazy dog</div>
                    <div class="f-1075">Big brown fox jumps over a lazy dog</div>
                    <div class="f-2">Big brown fox jumps over a lazy dog</div>
                </div>
            </div>
            <script src="https://gist.github.com/znjs/b99d38089fccc9538f7b28a2894420ff.js?file=fontSize.html">
            </script>

        </div>
    </div>
</body>

</html>